h1, h2{
    color: brown;
}

ul li a{
    color: blueviolet;
}

ol li a{
    color: cadetblue;
}

#P1{
    color: green;
}

.P2{
    color: orangered;
}

.miring{
    font-style: oblique;
}

/* separator/grouping */
/* 'ID' sebaiknya tidak/jangan selalu digunakan untuk CSS (gunakan 'Class' saja)*/