h1{
    color: brown;
}

h2{
    color: #7603ec;
    text-transform: uppercase;
}

h3{
    color: rgb(11, 225, 101);
}

p{
    text-align: justify;
    text-indent: 50px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

/* "color" memiliki 3 value: nama warna, kode hexa, kode rgb */
/* "text align" memiliki 4 value: left, center, right, justify */
/* "text-decoration" memiliki 4 value: none, underline, overline, line-trhough */
/* "text-transform" memiliki 4 value: none, lowercase, uppercase, capitalize */